{% extends 'base.html.twig' %}


{% block title %}
	Add projet
{% endblock %}

{% block body %}
	<div class="container">
		<div  class=" w-100 mx-auto">
			{{ form(projectForm,  {'action' : path('project_list')}) }}
		</div>
	</div>
{% endblock %}